* {
  z-index: 1;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.heading {
  height: 25vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

h1 {
  font-size: 50px;
  text-decoration: underline;
}

.container {
  z-index: 1;
  width: 80vw;
  height: 125vh;
  margin: 150px;
}

.btn1 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: yellow;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn2 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: lightgreen;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn3 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: yellow;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn4 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: lightgreen;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn5 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: yellow;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn6 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: lightgreen;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn7 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: yellow;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn8 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: lightgreen;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn9 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: yellow;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn10 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: lightgreen;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn11 {
  z-index: 1;
  padding: 10px;
  margin-left: 0;
  background-color: yellow;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

hr {
  z-index: 1;
  width: 80vw;
  height: 3.5px;
  background-color: black;
  border-radius: 20px;
  margin-bottom: 100px;
  border: 1px black solid;
}

.lift {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  margin-left: 500px;
  margin-top: 850px;
  transition: all linear;
  border: 5px solid rgb(22, 22, 97);
}

.lift1 {
  height: 90px;
  width: 45px;
  background-color: rgb(109, 149, 235);
}

.lift2 {
  position: absolute;
  left: 45px;
  width: 46px;
  height: 90px;
  background-color: rgb(39, 80, 167);
  animation-direction: alternate-reverse;
}

.lift_2{
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  margin-left: 700px;
  margin-top: 850px;
  transition: all linear;
  border: 5px solid rgb(22, 22, 97);
}

@keyframes openingDoor {
  from {
    width: 45px;
  }

  to {
    width: 0px;
  }
}

@keyframes openingDoor1 {
  from {
    left: 45px;
    width: 46px;
  }

  to {
    left: 90px;
    width: 0;
  }
}

@keyframes closingDoor {
  from {
    width: 0px;
  }

  to {
    width: 45px;
  }
}

@keyframes closingDoor1 {
  from {
    left: 90px;
    width: 0px;
  }

  to {
    left: 45px;
    width: 46px;
  }
}

@media (max-width: 800px) {
  h1 {
    padding: 20px;
    margin: 20px;
  }

  .container {
    margin: 20px;
    width: 100vw;
  }

  .lift {
    margin-left: 170px;
  }
}

@media (max-width: 300px) {
  h1 {
    padding: 20px;
    margin: 20px;
  }

  .container {
    margin: 20px;
    width: 100vw;
  }

  .lift {
    margin-left: 170px;
  }
}
